.step-three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: calc(100vh - 4rem);
    padding-block: 4rem;
}

.step-title {
    font-family: "Geist Bold";
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    margin-bottom: 40px;
}

.inner-container {
    width: clamp(250px, 85vw, 480px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flashcards-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.label-title {
    margin-bottom: 10px;
    font-family: "Geist Medium";
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
}

.source-input {
    font-family: "Geist Medium";
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 4px;
}

.flashcards-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.continue-btn {
    margin-top: 25px;
    display: block;
    width: 100%;
    font-family: "Geist Medium";
    font-size: clamp(0.75rem, 1.5vw, 0.875rem); /* Fluid Between 12px and 14px */
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: #0a0a0a;
    color: #fafafa;
    transition: 0.3s ease;
}

.continue-btn:hover {
    opacity: 90%;
}

