.step-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: calc(100vh - 4rem);
    padding-block: 4rem;
}

.step-title {
    font-family: "Geist Bold";
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    margin-bottom: 20px;
}

.tab-buttons {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 40px;
}

.tab {
    font-family: "Geist Medium";
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    color: #A3A3A3;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #e5e5e5;
}

.tab.active {
    background-color: #FFFFFF;
    color: #000000;
}

.continue-btn {
    margin-top: 25px;
    display: block;
    width: 100%;
}